page-main {

  box-sizing: border-box;

  img{
    filter: contrast(1);
    filter: brightness(0.75);
  }

  .rutas_container{
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .rutas_container-imagenes{
    height: 100%;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      height: 100%;
      img{
        height: 33vh;
        width: 100%;
        object-fit: cover;
      }
    }

    .card-title {
      position: absolute;
      top: 85%;
      font-size: 19px;
      width: 100%;
      font-weight: 325;
      color: #ffffff;
      z-index: 2;
    }

  }
  .scroll-content{
    background: $dark2;
    margin-top: 45px !important;
  }

  .card-md{
    border-radius: 0px !important;
    margin: 0px 0px 0px 0px !important;
    width: 100% !important;
  }

  .card-ios{
    border-radius: 0px !important;
    margin: 0px 0px 0px 0px !important;
    width: 100% !important;
  }

  .btn-avatar{
    img{
      border-radius:50%;
    }
    
  }
  .toolbar-title{
    font-weight: 300 !important;
    font-size: 16px;
  }
  
  ion-col {   
    padding: 0px;
  }
  .div-gradiente{
    position: absolute;
    bottom: 0px;
    z-index: 1;
    height: 35%;
    width: 100%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(2, 2, 2, 0)), to(#000000));
  }
  .home {
 
    scroll-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
    }
 
}

}
