page-main {

  box-sizing: border-box;
  img{
    filter: contrast(1);
    filter: brightness(0.75);
  }
  .rutas_container{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .rutas_container-imagenes{
    height: 25%;


  }
  .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }



  .card-title {
    position: absolute;
    top: 56%;
    left: 20%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
  .scroll-content{
    margin-top: 45px !important
  }

  .card-md{
    border-radius: 0px !important;
    margin: 0px 0px 0px 0px !important;
    width: 100% !important;
  }
  .card-ios{
    border-radius: 0px !important;
    margin: 0px 0px 0px 0px !important;
    width: 100% !important;
  }
}
