<ion-menu [content]="content">
  <ion-header *ngIf='userReady'>
    <ion-toolbar>
    <ion-item>
      <ion-avatar item-center>
      <img [src]="user.picture">
      </ion-avatar>
      <p text-center> {{user.name}}</p>
    </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background-color: rgba(23, 21, 32, 0.75);">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button ion-button block menuToggle (click)="doFbLogout()">salir</button>
      <button ion-button block menuToggle (click)="checkLogin()">check</button>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
